<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed!</h2>
        <p>Our manager will contact you to discuss further purchase details.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>