<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info"> The item you want to make an action on does not exist.</h1>
        <hr />
        <a class="btn btn-outline-success float-none" asp-controller="Cars" asp-action="Index"> Home Page</a>
    </div>
</div>