<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Access to this page is forbidden</h2>
        <p>Redirect to home page</p>
        <hr />
        <p>
            <a asp-controller="Cars" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>